@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,300;0,600;1,200;1,700&family=Roboto+Slab:wght@200;300;500&display=swap');
$family-sans-serif: 'Karla', sans-serif;

h1, h2, h3, h4, h5, h6 .title .subtitle {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}


$logo-font-stack: 'Pacifico', cursive;
.logo-font {
  font-family: $logo-font-stack;
  font-size: 26px;
  
}


// update global colors
$primary: #2D4F6C;  // producers
$warning: #BD8D1E;  // organizations
$danger: #E12626; //ngos
$success: #1DAA0C; //consumers
$title-color: #4d0f80;
$subFooter: #00ccb3;

$custom-colors: ("subFooter": ($subFooter));


$dark: #2a2d34;

// panel settings
$panel-shadow: 0;
$panel-list-item-hover-color: $primary;

@import "bulma/bulma.sass";
