/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* carousel in fashion index page */
.carousel-item {
  height: 80vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* vertical line in the footer */
.vr {
  display: inline;
  height: 300px;
  width: 1px;
  border: 1px inset;
  margin: 5px;
  color: black;
  background-color: black;
  /* border-color: black;   */
}

.custom-hr {
  color: "#000000";
  background-color: "#000000";
  height: 0.5;
  border-color: "#000000";
}
/* local consumers accordion */
/* .accordion-button:not(.collapsed) {
  background-color: #1daa0c ;
} */
